<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="ShoppingApp.Myntra.loginUser"/>
      <class name="ShoppingApp.Myntra.mouseOver_Test"/>
      <class name="ShoppingApp.Myntra.selectNavigatioon"/>
      <class name="ShoppingApp.Myntra.WishList_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
